@model EventsListWebApp.Models.LoginViewModel
@{
    Layout = null;
}
<link href="~/Content/loginpage.css" rel="stylesheet" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div class="main">
            @if (Model != null && !string.IsNullOrEmpty(Model.Message))
            {
                <div>@Model.Message</div>
            }
            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
            {
                <input type="text" name="userName" placeholder="username" /><br />
                <input type="password" name="password" placeholder="password" /><br />
                <input class="input-btn" type="submit" value="Login" />
            }
    </div>
</body>
</html>
