@model IEnumerable<EventsListCommon.Models.Event>

@foreach (var itemEvent in Model)
{
    <div>
        <div class="containerInfo col-md-3">
            <div onclick="getEventById(@itemEvent.Id)" class="eventBlock">
                @if (!string.IsNullOrEmpty(itemEvent.ImageUrl))
                {
                    <img src="@itemEvent.ImageUrl" style="width: 100%;" />
                }
                else
                {
                    <img src="~/Content/Images/no-image.png" style="width: 100%;"/>
                }
                <div class="eventTitle" style="text-align: center">
                    <h3>@itemEvent.Name</h3>
                </div>
            </div>
        </div>
    </div>
}
@if (!Model.Any())
{
    <p>Событий нет</p>
}
