@model EventsListWebApp.Models.HomeViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Events List</title>
</head>
<body>
    <div> 
        <h2>Events List</h2>
        <h3>@Model.Message</h3>
    </div>
</body>
</html>
