
@{
    ViewBag.Title = "Index";
}

<h2>Главная</h2>
<div class="main-content">
    
</div>
<script>
    function getEventById(id) {
        $(".body-content").load('@Url.Action("DetailEvent","Home")?Id=' + id);
    }
</script>
