<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/topbar.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/categoriesbar.js"></script>
    <script src="~/Scripts/eventslist.js"></script>
    <script src="~/Scripts/JsonToSelect.js"></script>
</head>
<body>
    <div class="topbar">
        <div class="topbar-title"><a href="/Home/Index">Home</a></div>

        <div><a href="/Event/CreateEvent">Create</a></div>
        @if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "Home")
        {
            <div>
                <a href="#" onclick="loadSearchBar('categories')">Search</a>
            </div>
        }
        @if (HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Editor"))
        {
            <div>
                <a href="#">Operations</a>
                <div class="downdiv">
                    <ul>
                        <li><span><a href="/Event/AddressesList">Addresses</a></span></li>
                        <li><span><a href="/Category/Index">Categories</a></span></li>
                    @if (HttpContext.Current.User.IsInRole("Admin"))
                    {

                        <li><span><a href="/Account/UsersList">Users</a></span></li>
                        <li><span><a href="/Account/RolesList">Roles</a></span></li>
                    }
                    </ul>
                </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(HttpContext.Current.User.Identity.Name))
        {
            <div class="topbar-user"><a href="/Account/Index">@HttpContext.Current.User.Identity.Name.ToUpperInvariant()</a></div>
        }
        else
        {
            <div class="topbar-user"><a href="/Login/Login">Log in</a></div>
        }
    </div>

    <div class="categories-div" id="categories"></div>
    <div class="body-content">
        @RenderBody()
    </div>
    @RenderSection("scripts", false)

    @if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "Home")
    {
        <script>
            $(function () {
                loadCategoriesBar();
                getAllEvents();
            });

            function loadSearchBar(idToLoad) {
                $("#" + idToLoad).load("/Event/SearchBar");
            }
        </script>
    }
</body>
</html>