<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGet" />
                <binding name="BasicHttpBinding_IAdd" />
                <binding name="BasicHttpBinding_IDelete" />
                <binding name="BasicHttpBinding_IUpdate" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1123/EventsListService.svc/get"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGet"
                contract="EventService.IGet" name="BasicHttpBinding_IGet" />
            <endpoint address="http://localhost:1123/EventsListService.svc/add"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdd"
                contract="EventService.IAdd" name="BasicHttpBinding_IAdd" />
            <endpoint address="http://localhost:1123/EventsListService.svc/del"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDelete"
                contract="EventService.IDelete" name="BasicHttpBinding_IDelete" />
            <endpoint address="http://localhost:1123/EventsListService.svc/upd"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUpdate"
                contract="EventService.IUpdate" name="BasicHttpBinding_IUpdate" />
        </client>
    </system.serviceModel>
</configuration>