<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEventService" />
                <binding name="BasicHttpBinding_IAddService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57209/EventsListService.svc/get"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEventService"
                contract="EventService.IEventService" name="BasicHttpBinding_IEventService" />
            <endpoint address="http://localhost:57209/EventsListService.svc/add"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAddService"
                contract="EventService.IAddService" name="BasicHttpBinding_IAddService" />
        </client>
    </system.serviceModel>
</configuration>