<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEventService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://AXE-PC:1123/EventsListService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEventService"
                contract="EventService.IEventService" name="BasicHttpBinding_IEventService" />
        </client>
    </system.serviceModel>
</configuration>