@model IEnumerable<EventsListCommon.Models.Event>
<link href="~/Content/event-block.css" rel="stylesheet" />
<div class="row">
    @if (Model != null)
    {
        if (Model.Any())
        {
            foreach (var itemEvent in Model)
            {
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div id="@itemEvent.Id" class="event-block">
                        <div class="event-block-image">
                            @if (!string.IsNullOrEmpty(itemEvent.ImageUrl))
                            {
                                <img src="../Content/Images/@itemEvent.ImageUrl" />
                            }
                            else
                            {
                                <img src="~/Content/Images/no-image.png" />
                            }
                        </div>
                        <div class="event-title">
                            <p>@itemEvent.Name</p>
                            <p>@itemEvent.Date.ToShortDateString()</p>
                        </div>
                        <div class="event-block-edit">
                            <a href="/Event/EditMyEvent?eventId=@itemEvent.Id" class="event-block-btn event-block-btn-edit">
                                <button class="btn btn-info">Edit</button>
                            </a>@if (itemEvent.Date.Date > DateTime.Today)
                            {<a href="/Event/DeleteMyEvent?eventId=@itemEvent.Id" class="event-block-btn event-block-btn-delete"><button class="btn btn-danger">Delete</button></a>
                            }
                        </div>
                    </div>
                </div>
            }

        }
        else
        {
            <p>У Вас пока нет событий</p>
        }
    }
    else
    {
        <b>@ViewBag.Error</b>
    }
</div>

<script>
    $(".event-block").on('click',
        function (e) {
            console.log(e.target.nodeName);
            var target = $(e.target);
            if (!target.is("a") && !target.is("button")) {
                getEventById(target.closest("div.event-block").attr("id"));
            }
        });
</script>