.category,
.category-title {
  font-family: "Arial";
  font-size: 18px;
  text-align: left;
  color: #00796B;
  cursor: pointer;
  padding: 4px 8px 4px 8px;
  transition: box-shadow 0.4s ease-in-out;
}

  .category:hover {
    box-shadow: 0 0 1px 2px #80DEEA;
  }

.category-title {
  text-align: center;
  color: white;
  background-color: #80DEEA
}

.category-div {
  width: 100%;
  text-align: center;
}

.category-children > p {
  padding-left: 40px;
  font-size: 15px;
  color: #29B6F6;
}
