.event-block {
  background: linear-gradient(235deg, #ffefd9,#c1ffef);
  border-radius: 15px;
  border: 2px solid #80DEEA;
  overflow: hidden;
  padding: 2px 5px;
  position: relative;
  transition: 0.4s;
  margin: 0 0 20px 10px;
  cursor: pointer;
}

.event-block-edit {
  width: 100%;
  height: 60px;
  background-color: transparent;
  position: absolute;
  left: 0;
  bottom: -60px;
  transition: all 0.2s ease-in-out;
}

.event-block-btn {
  background-color: transparent;
  opacity: 0.65;
  width: 50%;
  display: inline-block;
  padding: 0;
  margin: 0;
  height: 100%;
  line-height: normal;
  color: white;
  text-align: center;
  vertical-align: middle;
}

  .event-block-btn > button {
    width: 55%;
    height: 55%;
    font-family: "Arial";
    font-size: 16px;
  }

.event-block-btn-edit > button {
  background-color: #2196F3;
}

.event-block-btn-delete > button {
  background-color: #b71c1c;
}

.event-block:hover {
  border-radius: 10px;
  background: linear-gradient(0, #ffefd9,#c1ffef);
  border-style: solid;
  box-shadow: 0 0 5px #000000;
}

  .event-block:hover .event-block-edit {
    bottom: -15px;
  }

.event-block-image {
  padding: 5px;
  height: 200px;
  float: left;
  width: 100%;
}

  .event-block-image > img {
    opacity: 0.95;
    transition: 0.4s;
    border-radius: 15px;
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
  }

.event-block:hover .event-block-image > img {
  opacity: 0.85;
  border-radius: 10px;
}

.event-title {
  padding-top: 10px;
  text-align: center;
  height: 100%;
  width: 100%;
  float: left;
}

  .event-title > p {
    font-size: 16px;
    overflow: hidden;
    color: white;
    text-shadow: 0 1px 3px #000;
    font-family: "Verdana";
  }
