.event-block {
  background: linear-gradient(235deg, #ffefd9,#c1ffef);
  border-radius: 15px;
  border: 2px solid #80DEEA;
  overflow: hidden;
  padding: 2px 5px;
  position: relative;
  transition: 0.4s;
  margin: 0 0 20px 10px;
  cursor: pointer;
}

.event-block-hidden {
  opacity: 0;
  display: none;
}

.event-block:hover {
  border-radius: 10px;
  background: linear-gradient(0, #ffefd9,#c1ffef);
  border-style: solid;
  box-shadow: 0 0 5px #000000;
}

.event-block-image {  
  padding: 5px;
  height: 200px;
  float: left;
  width: 100%;
}

  .event-block-image > img {
    opacity: 0.95;
    transition: 0.4s;
    border-radius: 15px;
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
  }

.event-block:hover .event-block-image > img {
  opacity: 0.85;
  border-radius: 10px;
}

.event-title {
  padding-top: 10px;
  text-align: center;
  height: 100%;
  width: 100%;
  float: left;
}

  .event-title > p {
    font-size: 16px;
    overflow: hidden;
    color: white;
    text-shadow: 0 1px 3px #000;
    font-family: "Verdana";
  }
