body {
  margin: 0 auto;
  width: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding: 20px 10px 10px 10px;
  margin-left: 250px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
